{%  extends 'advetiser/manipage_advetiser.html' %}

{% block content %}

    <form method="post" action="">
        {%csrf_token%}
        <label for="title">Title:</label><br>
        <input type="text"  name="title"><br>
        <label for="description">Description:</label><br>
        <input type="text"  name="description"><br>
        Chose platform<br>
        {% for platform in platforms_list %}
            <input type="radio" id="{{platform}}" name="platform" value="{{platform}}">
            <label for="{{platform}}">{{platform}}</label><br>
        {% endfor %}
    <input type="submit" value="Submit">
    </form>


{% endblock %}
